
.button-primary {
  @apply bg-primary-red-200  text-primary-grey-900 font-semibold transition-all ease-in-out;
  &:disabled {
    @apply bg-disabled  cursor-default;
    &:hover {
      @apply bg-disabled  cursor-default;
    }
  }

  &:hover,
  &:focus {
    @apply bg-primary-red-300;
  }
}

.button-rounded {
  @apply drop-shadow-lg bg-primary-red-200;
  border-radius: 100% !important;
  width: auto !important;
  padding: 1rem !important;
}

